<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>FitbitApiAuthExampleServlet</servlet-name>
        <servlet-class>demo.FitbitApiAuthExampleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FitbitApiAuthExampleServlet</servlet-name>
        <url-pattern>/fitbitApiAuthExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Grant</servlet-name>
        <servlet-class>controller.Grant</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Grant</servlet-name>
        <url-pattern>/grant</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.User</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>    
    
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.User</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/setAlarm</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>AlarmExample</servlet-name>
        <servlet-class>controller.AlarmExample</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlarmExample</servlet-name>
        <url-pattern>/alarmExample</url-pattern>
    </servlet-mapping> 
       
       <servlet>
        <servlet-name>medicineServlet</servlet-name>
        <servlet-class>controller.medicineServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>medicineServlet</servlet-name>
        <url-pattern>/medicine</url-pattern>
    </servlet-mapping>    
          <servlet>
        <servlet-name>MedicineHistory</servlet-name>
        <servlet-class>controller.MedicineHistory</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicineHistory</servlet-name>
        <url-pattern>/medicineHistory</url-pattern>
    </servlet-mapping>  
              <servlet>
        <servlet-name>DeleteAlarm</servlet-name>
        <servlet-class>controller.DeleteAlarm</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAlarm</servlet-name>
        <url-pattern>/deleteAlarm</url-pattern>
    </servlet-mapping>  

</web-app>