<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>FitbitApiAuthExampleServlet</servlet-name>
        <servlet-class>demo.FitbitApiAuthExampleServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FitbitApiAuthExampleServlet</servlet-name>
        <url-pattern>/fitbitApiAuthExample</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Grant</servlet-name>
        <servlet-class>controller.Grant</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Grant</servlet-name>
        <url-pattern>/grant</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.User</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>    
    
        <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>controller.User</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/setAlarm</url-pattern>
    </servlet-mapping>    
    

</web-app>